<section class="w-1/2 mx-auto bg-gray-50 p-4 rounded border shadow my-10">
    <h1 class="text-3xl font-light text-center text-main">Forget Password</h1>
@if(step==1){
    <form [formGroup]="verifyEmail" (ngSubmit)="emailSubmit()">
        <!-- inputEmail -->
        <div class="mb-2">
            @let emailControl = verifyEmail.get('email');
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Email</label>
            <input formControlName="email" type="email" id="email"
                class="bg-white border border-gray-300 text-black text-sm rounded-lg focus:ring-main focus:border-main block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-main dark:focus:border-main" />
            <!-- validation inputEmail -->
            @if(emailControl?.errors && emailControl?.touched){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if(emailControl?.getError('pattern')){
                        <li>Enter Valid Email</li>
                        } @if(emailControl?.getError('required')){
                        <li>Email is required</li>
                        }
                    </ul>
                </div>
            </div>
            }
        </div>
        <button [disabled]="verifyEmail.invalid || isLoading"
        class="btn-main px-4 py-2 mt-3"
        type="submit">
        Verify Email @if(isLoading){               
          <span><i class="fa fa-spin fa-spinner"></i></span>
        }
    </button>
    @if (messageError && !messageSuccess) {
        <p class="bg-red-400 text-white py-4 px-2 border text-center">
            {{ messageError }}
        </p>
    } @else if (messageSuccess) {
        <p class="bg-green-600 text-white py-4 px-2 border text-center">
            {{ messageSuccess }}
        </p>
    }

</form>
}


@if(step==2){
    <form [formGroup]="verifyCode" (ngSubmit)="codeSubmit()">
        <!-- inputResetCode -->
        <div class="mb-2">
            @let resetCode = verifyCode.get('resetCode');
            <label for="resetCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">resetCode</label>
            <input formControlName="resetCode" type="text" id="resetCode"
                class="bg-white border border-gray-300 text-black text-sm rounded-lg focus:ring-main focus:border-main block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-main dark:focus:border-main" />
            <!-- validation input resetCode -->
            @if(resetCode?.errors && resetCode?.touched){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if(resetCode?.getError('pattern')){
                        <li>Enter correct Code</li>
                        } @if(resetCode?.getError('required')){
                        <li>Code is required</li>
                        }
                    </ul>
                </div>
            </div>
            }
        </div>
        <button [disabled]="verifyEmail.invalid || isLoading"
        class="btn-main px-4 py-2 mt-3"
        type="submit">
        Verify Code @if(isLoading){               
          <span><i class="fa fa-spin fa-spinner"></i></span>
        }
    </button>
    @if (messageError && !messageSuccess) {
        <p class="bg-red-400 text-white py-4 px-2 border text-center">
            {{ messageError }}
        </p>
    } @else if (messageSuccess) {
        <p class="bg-green-600 text-white py-4 px-2 border text-center">
            {{ messageSuccess }}
        </p>
    }




</form>
}



@if(step==3){
    <form [formGroup]="resetPassword" (ngSubmit)="restPassSubmit()">
        <!-- inputEmail -->
        <div class="mb-2">
            @let email = resetPassword.get('email');
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Email</label>
            <input formControlName="email" readOnly type="email" id="email"
                class="bg-white border border-gray-300 text-black text-sm rounded-lg focus:ring-main focus:border-main block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-main dark:focus:border-main" />
            <!-- validation inputEmail -->
            @if(email?.errors && email?.touched){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if(email?.getError('pattern')){
                        <li>Enter Valid Email</li>
                        } @if(email?.getError('required')){
                        <li>Email is required</li>
                        }
                    </ul>
                </div>
            </div>
            }
        </div>


        <!-- inputNewPassword -->
        <div class="mb-2">
            @let newPassword=resetPassword.get('newPassword');

            <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">New Password</label>
            <input formControlName="newPassword" type="password" id="newPassword"
                class="bg-white border border-gray-300 text-black text-sm rounded-lg focus:ring-main focus:border-main block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-main dark:focus:border-main" />
            <!-- validation inputPassword -->
            @if(newPassword?.errors && newPassword?.touched){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class="mt-1.5 list-disc list-inside">
                        @if(newPassword?.getError('pattern')){
                        <li>
                            password must start with upperCase then from 6 to more any chars
                        </li>
                        } @if(newPassword?.getError('required')){
                        <li>Password is required</li>
                        }
                    </ul>
                </div>
            </div>
            }
        </div>


        <button [disabled]="resetPassword.invalid || isLoading"
        class="btn-main px-4 py-2 mt-3"
        type="submit">
        signIn @if(isLoading){               
          <span><i class="fa fa-spin fa-spinner"></i></span>
        }
    </button>
    @if (messageError && !messageSuccess) {
        <p class="bg-red-400 text-white py-4 px-2 border text-center">
            {{ messageError }}
        </p>
    } @else if (messageSuccess) {
        <p class="bg-green-600 text-white py-4 px-2 border text-center">
            {{ messageSuccess }}
        </p>
    }

</form>
}