<footer class="footer bg-[#212529]  text-[#ADB5BD] shadow-2xl py-10">
    <div class="container">
        <h2 class="footer__title text-3xl mb-3">Get the MegaCart app</h2>
        <p class="footer__desc mb-3">We will send you a link , open it on your phone download the app</p>
        <div class="footer__subscription flex justify-center gap-x-3 mb-8 ">
            <input type="text" class="w-[80%] rounded-md" name="" id="">
            <button class="bg-main text-black font-semibold px-3 py-1 w-[10%] rounded-md">Share App</button>
        </div>
        <div class="footer__payment flex justify-between border-t-[3px] border-b-[3px] py-5 border-gray-300">
            <div class="footer__payment flex items-center gap-3">
                <p>payment partners</p>
                <img src="/images/amazon-pay.png" class="w-[50px] mt-1">
                <img src="/images/American-Express-Color.png" class="w-[50px] mt-1">
                <img src="/images/mastercard.webp" class="w-[50px] mt-1">
                <img src="/images/paypal.png" class="w-[50px] mt-1">
            </div>
            <div class="get__deliveries flex items-center gap-3">
                <h3>Get deliveries with FreshCart</h3>
                <img class="w-[100px]" src="/images/get-apple-store.png" alt="apple">
                <img class="w-[100px]" src="/images/get-google-play.png" alt="google">
        
              </div>
        </div>
    </div>
</footer>