/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --main-color:#33CCCC
    --light-color: #f0f3f2;
    --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
      rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
      rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
    --font-family: "Lilita One", serif
    --second:"Playfair Display", serif;
    --rating-color: #ffc908;
  }
body {
    font-family: var(--font-family) !important;
   background-color:  #f8f9fa;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-main{
  @apply disabled:bg-gray disabled:hover:text-black bg-transparent text-black border border-black rounded-3xl hover:bg-black  hover:text-white hover:scale-90 transition-all duration-500
}



.m-sec-style{
 @apply bg-zinc-50 border rounded p-4 shadow
}

.text-header{
  @apply text-4xl mb-10 font-bold
}



$scrollbar-width: 10px;
$thumb-color: #212529;
$track-color: #f1f1f1;
$hover-thumb-color: #212529;

* {
  ::-webkit-scrollbar {
    width: $scrollbar-width; 
    height: $scrollbar-width; 
  }

  ::-webkit-scrollbar-thumb {
    background-color: $thumb-color; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
  }

  ::-webkit-scrollbar-track {
    background-color: $track-color; 
    border-radius: 5px; 
  }


  ::-webkit-scrollbar-thumb:hover {
    background-color: $hover-thumb-color; 
  }
}
